$alt-color: #0199fe;
$bg-color: #212E36;
$dark-bg-color: #192229;
$border-color: #808080;
$txt-color: #ffffff;
$bg-size: 2rem;
$default-size: 1.5rem;
$md-size: 1.2rem;
$sm-size: 1rem;

.column-nav{    
    .column-nav-links{
        .nav-link{
            &:nth-child(1){
                color: $txt-color;
            }
            &:hover{
                background-color: $dark-bg-color;
                color: $alt-color;
                transition: background-color 0.5s ease;
            }
            &:nth-child(4){
                color: $alt-color;
            }
        }
    }
}

@mixin button-style {
    color: $txt-color;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    background-color: $bg-color;
    cursor: pointer;
    font-size: $md-size;
    &:hover{
        background-color: $txt-color;
        font-weight: bold;
        color: $alt-color;
    }
}

@mixin input-style {
    font-family: 'Courier New', Courier, monospace;
    font-size: $md-size;
    color: $txt-color;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    background-color: $bg-color;
    &:focus{
        border: thin solid $alt-color;
    }
}

.news-container{
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: $dark-bg-color;
    gap: 1rem;
    .form-container {
        width: inherit;
        flex-wrap: wrap;
        gap: 1rem;
        display: flex;
        justify-content: space-around;
        #filter-form{
            display: flex;
            gap: 1rem;
            input{
                font-family: 'Courier New', Courier, monospace;
                font-size: $md-size;
                color: $txt-color;
                border: none;
                padding: 1rem;
                border-radius: 0.5rem;
                outline: none;
                background-color: $bg-color;
                &:focus{
                    border: thin solid $alt-color;
                }
            }
            input[type='submit']{
                @include button-style();
            }
        }
        .filter-articles{
            button{
                @include button-style();
            }
        }
    }
    #articles-list{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        article{
            background-color: $bg-color;
            padding: 1rem;
            color: $txt-color;
            border-radius: 5px;
            .header{
                align-items: center;
                display: flex;
                justify-content: space-between;
                a{
                    font-size: $md-size;
                    color: $txt-color;
                    &:hover{
                        color: $alt-color;
                    }
                }
                i{
                    cursor: pointer;
                    color: $txt-color;
                    border: none;
                    padding: 1rem;
                    border-radius: 0.5rem;
                    outline: none;
                    background-color: $bg-color;
                    cursor: pointer;
                    font-size: $md-size;
                    &:hover{
                        background-color: $txt-color;
                        font-weight: bold;
                        color: $alt-color;
                    }
                    &::before {
                        margin: 0 .5rem 0 0;
                    }
                }
                .false {
                    &::after {
                        content: "Pin News"
                    }
                }
                .true {
                    background-color: $alt-color;
                    color: $txt-color;
                    &::after {
                        content: "Article Pinned";
                    }
                }
            }
            .content{
                display: flex;
                gap: 1rem;
                padding: 1rem;
                img{
                    width: 50%;
                    height: auto;
                    border-radius: 0.5rem;
                }
                p{
                    text-align: justify;
                }
            }
        }
    }
}