$alt-color: #0199fe;
$bg-color: #212E36;
$dark-bg-color: #192229;
$border-color: #808080;
$txt-color: #ffffff;
$bg-size: 2rem;
$default-size: 1.5rem;
$md-size: 1.2rem;
$sm-size: 1rem;

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: $bg-color;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 5rem 1fr;
    &::-webkit-scrollbar {
        width: 8px; 
    }
    &::-webkit-scrollbar-track {
        background-color: $bg-color;
       
       }
       
    &::-webkit-scrollbar-thumb {
        background: $alt-color;
        border-radius: 10px;
    }
}

.nav-axis{
    color:$txt-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: thin solid $border-color;
    border-bottom: thin solid $border-color;
    cursor: pointer;
    i{
        font-size: $default-size;
    }
    &:hover{
        background-color: $dark-bg-color;
        color: $alt-color;
        transition: background-color .5s ease;
    }
}

.row-nav{
    display: flex;
    border-bottom: thin solid $border-color;
    justify-content: space-evenly;
    background-color: $bg-color;
    align-items: center;
    img{
        width: auto;
        height: 100%;
    }
    i{
        color: $txt-color;
        font-size: $bg-size;
    }
}

.column-nav{    
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    color: $txt-color;
    align-items: center;
    font-size: $default-size;
    border-right: thin solid $border-color;
    .column-nav-links{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        .nav-link{
            cursor: pointer;
            width: 100%;
            text-decoration: none;
            color: $txt-color;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                display: flex;
                font-size: 0rem;
                margin-left: .5rem;       
                transition: all .5s ease;    
            }
            .active{
                font-size: 1.3rem;
                margin-left: .5rem;  
                transition: all .5s ease;   
            }
            &:hover{
                background-color: $dark-bg-color;
                color: $alt-color;
                transition: background-color 0.5s ease;
            }
            &:nth-child(3){
                color: $alt-color;
            }
        }
    }
}

@mixin button-style {
    color: $txt-color;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    background-color: $bg-color;
    cursor: pointer;
    font-size: $md-size;
    &:hover{
        background-color: $txt-color;
        font-weight: bold;
        color: $alt-color;
    }
}

@mixin input-style {
    font-family: 'Courier New', Courier, monospace;
    font-size: $md-size;
    color: $txt-color;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    background-color: $bg-color;
    &:focus{
        border: thin solid $alt-color;
    }
}

.news-container{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: $dark-bg-color;
    gap: 1rem;
    .filter-news{
        #filter-form{
            display: flex;
            justify-content: center;
            gap: 1rem;
            flex-wrap: wrap;
            input{
                font-family: 'Courier New', Courier, monospace;
                font-size: $md-size;
                color: $txt-color;
                border: none;
                padding: 1rem;
                border-radius: 0.5rem;
                outline: none;
                background-color: $bg-color;
                &:focus{
                    border: thin solid $alt-color;
                }
            }
            input[type='submit']{
                @include button-style();
            }
        }
    }
    .filter-articles{
        button{
            @include button-style();
        }
    }
    #articles-list{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        article{
            background-color: $bg-color;
            padding: 1rem;
            color: $txt-color;
            border-radius: 5px;
            p{
                text-align: justify;
            }
            a{
                font-size: $md-size;
                color: $txt-color;
                &:hover{
                    color: $alt-color;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5rem 2fr 5rem;
    }
    .nav-axis{
        display: none;
    }
    .column-nav{
        background-color: $bg-color;
        display: flex;
        flex-direction: column;
        color: $txt-color;
        font-size: $sm-size;
        order: 1;
        border: none;
        .column-nav-links{
            display: flex;
            flex-direction: row;
            .nav-link{
                display: flex;
                flex-direction: column;
                span{
                    font-size: $sm-size;
                    margin-left: 0;       
                }
                .active{
                    font-size: $sm-size;
                    margin-left: 0;       
                }
            }
        }
    }
}