$alt-color: #0199fe;
$bg-color: #212E36;
$dark-bg-color: #192229;
$border-color: #808080;
$txt-color: #ffffff;
$bg-size: 2rem;
$default-size: 1.5rem;
$md-size: 1.2rem;
$sm-size: 1rem;

.column-nav{    
    .column-nav-links{
        .nav-link{
            &:first-child{
                color: $txt-color;
            }
            &:hover{
                background-color: $dark-bg-color;
                color: $alt-color;
                transition: background-color 0.5s ease;
            }
            &:nth-child(5){
                color: $alt-color;
            }
        }
    }
}

.about-main{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
    background-color: $dark-bg-color;
    padding: 1rem;
    color: $txt-color;
    div{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color:  $bg-color;
        border-radius: .5rem;
        font-size: $sm-size;
        gap: 1rem;
        h2{
            margin: 0;
        }
    }
    .about-us{
        h1{
            margin: 0;
        }
        p{
            margin: 0;
        }
    }
    .media-section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        a{
            color: $txt-color;
            text-decoration: none;
            cursor: pointer;
            font-size: $bg-size;
            &:hover{
                color: $alt-color;
                
            }
        }
    }
    .api-section{
        display: flex;
        flex-direction: column;
        a{
            color: $txt-color;
            cursor: pointer;
            font-size: $sm-size;
            &:hover{
                color: $alt-color;
                
            }
        }
    }
    .footer{
        grid-column: span 3;
    }
}

@media (max-width: 840px) {
    .about-main{
        display: grid;
        gap: 1rem;
        background-color: $dark-bg-color;
        padding: 1rem;
        color: $txt-color;
        .about-us{
            grid-column: span 2;
            h1{
                margin: 0;
            }
            p{
                margin: 0;
            }
        }
        .api-section{
            grid-column: span 2;
        }
        .media-section{
            grid-column: span 2; 
        }
        .footer{
            grid-column: span 2;
        }
    }
}