$alt-color: #0199fe;
$bg-color: #212E36;
$dark-bg-color: #192229;
$border-color: #808080;
$txt-color: #ffffff;
$bg-size: 2rem;
$default-size: 1.5rem;
$md-size: 1.2rem;
$sm-size: 1rem;

.column-nav{    
    .column-nav-links{
        .nav-link{
            &:first-child{
                color: $txt-color;
            }
            &:nth-child(5){
                color: $txt-color;
            }
            &:hover{
                background-color: $dark-bg-color;
                color: $alt-color;
                transition: background-color 0.5s ease;
            }
        }
    }
}

.home-user{
    padding: 1rem;
    h1{
        color: $txt-color;
        font-size: $bg-size;
        text-align: center;
    }
    div{
        h2{
            color: $txt-color;
            font-size: $default-size;
        }
    }
}

@media (max-width: 840px) {

}